{% for host in groups['PE_Routers'] %}
{% if inventory_hostname == host %}
routing-options {
    autonomous-system {{ asn }};
}
protocols {
    bgp {
        log-updown;
        graceful-restart;
        group mpls {
            type internal;
            local-address "{{ mpls.loopback }}";
            local-as {{ mpls.local.asn }};
            bfd-liveness-detection {
                minimum-interval {{ mpls.bfd.min_interval }};
                multiplier {{ mpls.bfd.multiplier }};
                session-mode {{ mpls.bfd.mode }};
            }
            family inet {
                unicast;
            }
            family inet6 {
                unicast;
            }
            family inet-vpn {
                any;
            }
            family inet6-vpn {
                any;
            }
            family evpn {
                signaling;
            }
            family inet-mvpn {
                signaling;
            }
            family inet6-mvpn {
                signaling;
            }
{% for host_PE in groups['PE_Routers'] %}
{% if inventory_hostname != host_PE %}
            neighbor {{ hostvars[host_PE].mpls.loopback }} {
                peer-as {{ hostvars[host_PE].asn }};
            }
{% endif %}
{% endfor %}
        }
    }
}
{% endif %}
{% endfor %}
